.card-component{
    margin-left: 20%;
    padding: 5px;
    border-top: 1px solid rgb(217 217 217) !important;
    width: 50% !important;
}

.card-text{
    padding-top: 100px !important;
    font-size: 1.5rem;
}
