#title {
    font-size: 2em;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif !important;
    text-align: center;
  
    /* margin-left: 1.0em; */
  }
  
  .cusines {
    padding-bottom: 1% !important;
  }
  
  .img-fluid {
    max-width: 100%;
    max-height: 98.5% !important;
  }
  
  #SubmitBtn {
    color: rgb(255, 255, 255);
    background-color: #eb6f3e;
  }
  
  /* #form3{
    padding-top: 5%;
  } */
  .input-group-text {
    background-color: #fff;
  }
  
  .range .thumb:after {
    background: #eb6f3e !important;
    /* width: 75%;  */
  }
  .range input[type="range"]::-moz-range-thumb {
    background: #eb6f3e;
    /* width: 75%;  */
  }
  .range input[type="range"]::-webkit-slider-thumb {
    background: #eb6f3e;
  }
  .range input[type="range"]::-ms-thumb {
    background: #eb6f3e;
  }
  
  .range:focus {
    outline: none !important;
    border-color: #eb6f3f !important;
    box-shadow: none;
  }
  
  .col-md-9 {
    width: 75% !important;
  }
  
  .form-range {
    height: 1.5rem;
    padding: 2%;
    background-color: transparent;
    appearance: none;
  }
  
  .input-group-text {
    color: #ffffff !important;
    background-color: #eb6f3e !important;
  }
  
  .form-dollar {
    padding: 2%;
  }
  
  @media (min-width: 450px) {
    .input-group {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      width: 100%;
      padding: inherit;
      padding-top: 3% !important;
      margin-top: 3% !important;
      z-index: 0;
    }
    #dollarRow {
      width: 42% !important;
      margin-left: -2%;
    }
  }
  
  @media (min-width: 1024px) {
    .input-group {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      width: 100%;
      z-index: 0;
      padding: inherit;
      /* padding-top: 9% !important; */
      margin-top: 8% !important;
    }
  
    #dollarRow {
      padding-top: 2% !important;
      width: 30% !important;
      margin-left: -2%;
      margin-right: -5% !important;
    }
  }
  
  #imgDiv {
    padding-bottom: -5% !important;
  }
  
  @media (min-width: 768px) {
    #imgDiv {
      position: relative;
      max-width: inherit;
      flex: 0 0 auto;
      width: 45%;
      margin-bottom: -1%;
      /* padding-left: 4%; */
    }
  }
  
  @media (min-width: 992px) {
    .mainCard {
      flex: 0 0 auto;
      width: 70.333333% !important;
      margin-bottom: 0%;
      padding-bottom: -2% !important;
      padding-top: 1%;
    }
  }
  
  #butTton {
    /* max-width: fit- !important;
    max-height: 2% !important; */
    padding-bottom: -200px !important;
  }
  
  .thumb-value {
    color: rgb(255, 255, 255);
  }
  
  .Buttons {
    /* padding-top: 0.5%; */
    padding-bottom: 1%;
    margin-right: -25%;
  }
  
  .form-outline {
    margin-bottom: 1.7rem !important;
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
  }
  
  .input {
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
  }
  
  button, input, optgroup, select, textarea {
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
    /* font-family: sans-serif; */
    /* font-size: 100%; */
    line-height: 1.15;
    margin: 0;
  }
  
  .form-label {
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
    margin-left: 2% !important;
  }
  
  #form3:focus {
    outline: none !important;
    border-color: #eb6f3f !important;
    box-shadow: none;
  }
  
  .cusines:focus {
    outline: none !important;
    border-color: #eb6f3f !important;
    box-shadow: none;
  }
  
  /* .css-1s2u09g-control:focus {
    outline: none !important;
    border-color: #eb6f3f !important;
    box-shadow: none;
  } */
  
  .css-1pahdxg-control:hover {
  
    border-color: #eb6f3f !important;
    box-shadow: #eb6f3f !important;
  
  }
  .css-1pahdxg-control {
  
    border-color: #eb6f3f !important;
    box-shadow: none !important;
  
  }
  .css-1s2u09g-control:hover {
    border-color: #eb6f3f !important;
    box-shadow: #eb6f3f !important;
    /* background-color: #eb6f3f !important; */
  }
  
  .css-qc6sy-singleValue:hover {
    border-color: #eb6f3f !important;
    box-shadow: #eb6f3f !important;
    /* background-color: #eb6f3f !important; */
  }
  
  .css-6j8wv5-Input::selection {
    background-color: #eb6f3f !important;
  }
  
  /* .css-26l3qy-menu:hover{
    background-color: #eb6f3f !important;
  } */
  
  /* .css-41u8z7-MenuList{
    background-color: #eb6f3f !important;
  } */
  .css-1n7v3ny-option:hover {
    background-color: #eb6f3f !important;
  }
  
  #range:focus {
    outline: none !important;
    border-color: #eb6f3f !important;
    box-shadow: none;
  }
  
  #range::-webkit-slider-thumb {
    background: #eb6f3f !important;
  }
  
  #range::-moz-range-thumb {
    background: #eb6f3f !important;
  }
  
  .thumb:focus {
    outline: none !important;
    border-color: #eb6f3f !important;
    box-shadow: none;
  }
  