.custom-start {
    color: #eb6f3f !important;
    opacity: 90%;
}

.custom-start:hover {
    opacity: 100%;
}

.custom-signup {
    color: #565454 !important;
    opacity: 90%;
}

.custom-signup:hover {
    color: #565454 !important;
    opacity: 100%;
}

.custom-btn {
    background: #eb6f3f !important;
    color:#fff !important;
    border: none;
    opacity: 90%;
}

.custom-btn:hover {
    color:#fff !important;
    opacity: 100%;
}