#title {
    text-align: center;
    font-size: larger;
}

#info {
    margin: auto;
    max-width: fit-content;
    padding-top: 20px;
}

#infoEdit {
    margin: auto;
    max-width: fit-content;
    padding-bottom: 100px;
}

#pfImg {
    padding-top: 20px;
    text-align: center;
    size: 100px;
}

#button {
    text-align: center;
    padding-bottom: 100px;
}

#changeImageText {
    text-align: center;
    font-size: small;
    color: grey;
}

#changeImage {
    margin: auto;
    max-width: fit-content;
}

#imageUpload {
    border-radius: 50%;
}

#saving {
    color: #eb6f3f !important;
    opacity: 90%;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

#backgroundColor {
    color: #eb6f3f !important;
}
